@import 'normalize';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$veryDarkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
$background: linear-gradient(#af67e9, #6565e7);
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);
$lightGrayishBlue: hsl(240, 5%, 91%);

html {
	height: 100%;
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
* {
	margin: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: $background;
	font-family: 'Kumbh Sans';
}
.container {
	width: 85%;
	background-color: $lightGrayishBlue;
	border-radius: 2rem;

	&__img {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			position: absolute;
			&:first-child {
				top: -10.6rem;
			}
		}
	}
}

.content {
	margin-top: 14rem;
	text-align: center;
	font-size: 1.8rem;
}
